
body {
    font-family: 'Lora', 'Noto Serif SC', serif;
    font-size: 16px;
    color: #404040;
}

main {
    width: 780px;
    min-width: 320px;
    margin: 0 auto;
    overflow-wrap: break-word;
}

h1 {
    font-size: 2.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    display: inline-block;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1em;
}

p {
    line-height: 1.8;
}

a {
    text-decoration: underline;
}

blockquote::before {
    content: "\201c";
    float: left;
    font-size: 2.75em;
    font-weight: bold;
    line-height: .6em;
    margin-left: -.6em;
    color: grey;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1)
}

blockquote, quoteblock p {
    color: rgba(0, 0, 0, .85);
    line-height: 1.75;
    word-spacing: .1em;
    letter-spacing: 0;
    font-style: italic;
    text-align: justify;
}

img {
    max-width: 100%;
    display: block;
}

code {
    tab-size: 4;
    background: #fafafc;
    border-radius: .1em;
    font-size: .85em;
    padding: .1em .2em;
    font-family: Hack, mononoki, Monaco, Menlo, "Source Code Pro", Consolas, monospace;
    color: #d14;
    border: 1px solid #eee;
}

pre code {
    line-height: 1.5;
    border-radius: .3em;
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
    background: #fefefe;
    font-family: Hack, mononoki, Monaco, Menlo, "Source Code Pro", Consolas, monospace;
    overflow-wrap: normal;
    border: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
    display: table;
    overflow-x: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

table thead tr:nth-child(1) {
    background-color: #F8F8F9;
    font-weight: bold;
}

table th {
    padding: 5px;
    min-width: 20px;
}

table td, table th {
    padding: 5px;
    border: 1px solid #EEE;
    font-size: .9em;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    height: 0;
    box-sizing: content-box;
    margin-top: 3em;
    margin-bottom: 2em;
}

li p {
    line-height: 1.2;
    margin: 0;
}

.post-meta {
    font-size: .9em;
    color: rgba(0, 0, 0, 0.6);
}

.post-tags {
    text-align: right;
    font-size: 0.8em;
    user-select: none;
    display: block;
}

.post-tags a {
    text-decoration: none;
    float: left;
    margin-right: 1em;
    display: block;
    padding: 0 8px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    line-height: 24px;
    font-size: .9em;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    user-select: none;
    cursor: pointer;
}

.post-tags a:hover {
    background: rgba(0, 0, 0, 0.1);
}


.post-author {
    font-size: 1.4em;
    color: #ccc;
    text-align: center;
    font-family: "Major Mono Display", 'Lora', 'Noto Serif SC', serif;
    padding-top: 4em;
    padding-bottom: 1em;
    clear: both;
    user-select: none;
}

.post-author a {
    text-decoration: none;
    margin: 10px auto;
    color: #ddd;
}

.post-author a:hover {
    color: #404040;
}

.post-year {
    color: grey;
    opacity: .5;
    border-right-style: solid;
    border-right-color: #f6f6f6;
    border-right-width: .5em;
}

.pagination {
    padding-top: 2em;
    display: block;
    clear: both;
}

.pagination ul {
    padding: 0;
}

.pagination li {
    list-style-type: none;
    line-height: 1.5;
}

.pagination li a {
    text-decoration: none;
}

footer {
    width: 780px;
    min-width: 320px;
    margin: 0 auto;
}

.beian {
    margin: 0 auto;
    text-align: center;
    font-family: monospace;
    font-size: .7em;
    clear: both;
    user-select: none;
    opacity: .5;
}

.beian:hover {
    color: grey;
    opacity: .9;
}

.beian a {
    text-decoration: none;
    color: #404040;
}

.beian a:hover {
    text-decoration-line: underline;
}

.beian img {
    width: 1.2em;
    display: inline-block;
    margin-bottom: -2px;
}

.home h2 {
    color: grey;
    margin-top: 1em;
    display: block;
}

.home ul {
    padding: 0;
    margin: 0;
}

.home li {
    padding: 0 0 1em 2em;
    line-height: 2;
    list-style-type: none;
    width: 100%;
    display: inline-block;
}

.home li span {
    float: left;
    width: 20%;
    max-width: 20%;
    color: grey;
    font-size: 16px;
}

.home li a {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    max-width: 80%;
    display: block;
}

.post-back {
    text-align: center;
}

.post-back a {
    text-decoration: none;
}

.home-heading a {
    text-decoration: none;
    color: #000;
    font-family: "Major Mono Display", 'Lora', 'Noto Serif SC', serif;
    font-size: 2.5em;
    user-select: none;
}

.home-sub-heading {
    font-size: 1em;
    color: #f0f0f0;
    font-family: monospace;
    user-select: none;
}

.site-nav a {
    display: inline;
    margin-right: 1.2em;
    font-size: 14px;
    user-select: none;
}

.site-nav a:link, .site-nav a:visited {
    color: #404040;
    text-decoration: none;
}

.site-nav a:hover {
    color: white;
    text-decoration: none;
    background: #37a;
}

.site-nav a:active {
    color: white;
    text-decoration: none;
    background: #FF9933;
}

@media screen and (max-width: 800px) {
    main, footer {
        width: 100%;
    }

    .site-nav .trigger {
        text-align: center;
    }

    .home-title {
        text-align: center;
    }

    .post-title {
        text-align: center;
    }

    .home ul {
        margin: 1em;
    }

    .home li {
        display: inline-block;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .home li span {
        display: none;
    }

    .home li a {
        max-width: 100%;
    }

    article {
        padding: 0;
        margin: 1em;
    }

}

/*asciidoc style*/


audio, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}


abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

mark {
    background: #ff0;
    color: #000
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0
}

button, input {
    line-height: normal
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}


*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

img, object, embed {
    max-width: 100%;
    height: auto
}

object, embed {
    height: 100%
}

img {
    -ms-interpolation-mode: bicubic
}

.left {
    float: left !important
}

.right {
    float: right !important
}

.text-left {
    text-align: left !important
}

.text-right {
    text-align: right !important
}

.text-center {
    text-align: center !important
}

.text-justify {
    text-align: justify !important
}

.hide {
    display: none
}

img, object, svg {
    display: inline-block;
}

textarea {
    height: auto;
    min-height: 50px
}

select {
    width: 100%
}

.center {
    margin-left: auto;
    margin-right: auto
}

.stretch {
    width: 100%
}

.subheader, .admonitionblock td.content > .title,
.audioblock > .title,
.exampleblock > .title,
.imageblock > .title,
.listingblock > .title,
.literalblock > .title,
.stemblock > .title,
.openblock > .title,
.paragraph > .title,
.quoteblock > .title,
table.tableblock > .title,
.verseblock > .title,
.videoblock > .title,
.dlist > .title,
.olist > .title,
.ulist > .title,
.qlist > .title,
.hdlist > .title {
    line-height: 1.45;
    color: #7a2518;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: .25em
}

hr {
    border: solid grey;
    border-width: 1px 0 0;
    clear: both;
    margin: 1.25em 0 1.1875em;
    height: 0
}

em, i {
    font-style: italic;
    line-height: inherit
}

strong, b {
    font-weight: bold;
    line-height: inherit
}

small {
    font-size: 60%;
    line-height: inherit
}


ul.square li ul, ul.circle li ul, ul.disc li ul {
    list-style: inherit
}

ul.square {
    list-style-type: square
}

ul.circle {
    list-style-type: circle
}

ul.disc {
    list-style-type: disc
}

ol li ul, ol li ol {
    margin-left: 1.25em;
    margin-bottom: 0
}

dl dt {
    margin-bottom: .3125em;
    font-weight: bold
}

dl dd {
    margin-bottom: 1.25em
}

abbr, acronym {
    text-transform: uppercase;
    font-size: 90%;
    color: rgba(0, 0, 0, .8);
    border-bottom: 1px dotted #ddd;
    cursor: help
}

abbr {
    text-transform: none
}

blockquote {
    margin: 0 0 1.25em;
    padding: .5625em 1.25em 0 1.1875em;
}

blockquote cite {
    display: block;
    font-size: .95em;
    color: rgba(0, 0, 0, .6)
}

blockquote cite::before {
    content: "\2014 \0020"
}


blockquote, blockquote p {
    line-height: 1.6;
    color: rgba(0, 0, 0, .85)
}


h1 strong, h2 strong, h3 strong, #toctitle strong,
.sidebarblock > .content > .title strong,
h4 strong, h5 strong, h6 strong {
    font-weight: 400
}

.clearfix::before, .clearfix::after, .float-group::before, .float-group::after {
    content: " ";
    display: table
}

.clearfix::after, .float-group::after {
    clear: both
}

:not(pre):not([class^=L]) > code {
    font-style: normal !important;
    letter-spacing: 0;
    padding: .1em .5ex;
    word-spacing: -.15em;
    background: #f7f7f8;
    -webkit-border-radius: 4px;
    border-radius: .25em;
    line-height: 1.45;
    text-rendering: optimizeSpeed;
    word-wrap: break-word
}

:not(pre) > code.nobreak {
    word-wrap: normal
}

:not(pre) > code.nowrap {
    white-space: nowrap
}

pre.nowrap, pre.nowrap pre {
    white-space: pre;
    word-wrap: normal
}

em em {
    font-style: normal
}

strong strong {
    font-weight: 400
}

.keyseq {
    color: rgba(51, 51, 51, .8)
}

kbd {
    font-family: Hack, mononoki, Monaco, Menlo, "Source Code Pro", Consolas, monospace;
    display: inline-block;
    color: rgba(0, 0, 0, .8);
    font-size: .65em;
    line-height: 1.45;
    background: #f7f7f7;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 0 0 .1em white inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 0 0 .1em #fff inset;
    margin: 0 .15em;
    padding: .2em .5em;
    vertical-align: middle;
    position: relative;
    top: -.1em;
    white-space: nowrap
}

.keyseq kbd:first-child {
    margin-left: 0
}

.keyseq kbd:last-child {
    margin-right: 0
}

.menuseq, .menuref {
    color: #000
}

.menuseq b:not(.caret), .menuref {
    font-weight: inherit
}

.menuseq {
    word-spacing: -.02em
}

.menuseq b.caret {
    font-size: 1.25em;
    line-height: .8
}

.menuseq i.caret {
    font-weight: bold;
    text-align: center;
    width: .45em
}

b.button::before, b.button::after {
    position: relative;
    top: -1px;
    font-weight: 400
}

b.button::before {
    content: "[";
    padding: 0 3px 0 2px
}

b.button::after {
    content: "]";
    padding: 0 2px 0 3px
}

p a > code:hover {
    color: rgba(0, 0, 0, .9)
}

#toc {
    padding-bottom: .5em
}

#toc > ul {
    margin-left: .125em
}

#toc ul.sectlevel0 > li > a {
    font-style: italic
}

#toc ul.sectlevel0 ul.sectlevel1 {
    margin: .5em 0
}

#toc ul {
    list-style-type: none
}

#toc li {
    line-height: 1.3334;
    margin-top: .3334em
}

#toc a {
    text-decoration: none
}

#toctitle {
    color: #000;
    font-size: 1.2em
}


#content #toc {
    border-style: solid;
    border-width: 1px;
    border-color: #e0e0dc;
    margin-bottom: 1.25em;
    padding: 1.25em;
    background: #f8f8f7;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

#content #toc > :first-child {
    margin-top: 0
}

#content #toc > :last-child {
    margin-bottom: 0
}


.sect1 {
    padding-bottom: .625em
}


.sect1:last-child {
    padding-bottom: 0
}

details, .audioblock, .imageblock, .literalblock, .listingblock, .stemblock, .videoblock {
    margin-bottom: 1.25em
}

details > summary:first-of-type {
    cursor: pointer;
    display: list-item;
    outline: none;
    margin-bottom: .75em
}

.admonitionblock td.content > .title,
.audioblock > .title,
.exampleblock > .title,
.imageblock > .title,
.listingblock > .title,
.literalblock > .title,
.stemblock > .title,
.openblock > .title,
.paragraph > .title,
.quoteblock > .title,
table.tableblock > .title,
.verseblock > .title,
.videoblock > .title,
.dlist > .title,
.olist > .title,
.ulist > .title,
.qlist > .title,
.hdlist > .title {
    text-rendering: optimizeLegibility;
    text-align: left;
    font-size: 1rem;
    font-style: italic
}

table.tableblock.fit-content > caption.title {
    white-space: nowrap;
    width: 0
}


table.tableblock #preamble > .sectionbody > [class="paragraph"]:first-of-type p {
    font-size: inherit
}

.admonitionblock > table {
    border-collapse: separate;
    border: 0;
    background: none;
    width: 100%;
}

.admonitionblock > table td {
    border: none;
}

.admonitionblock > table td p {
    line-height: 1.2;
}


.admonitionblock > table td.icon {
    text-align: center;
    width: 80px
}

.admonitionblock > table td.icon img {
    max-width: none
}

.admonitionblock > table td.icon .title {
    font-weight: bold;
    text-transform: uppercase
}

.admonitionblock > table td.content {
    padding-left: 1.125em;
    padding-right: 1.25em;
    border-left: 1px solid #dddddf;
    color: rgba(0, 0, 0, .6)
}

.admonitionblock > table td.content > :last-child > :last-child {
    margin-bottom: 0
}

.exampleblock > .content {
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    margin-bottom: 1.25em;
    padding: 1.25em;
    background: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.exampleblock > .content > :first-child {
    margin-top: 0
}

.exampleblock > .content > :last-child {
    margin-bottom: 0
}

.sidebarblock {
    border-style: solid;
    border-width: 1px;
    border-color: #dbdbd6;
    margin-bottom: 1.25em;
    padding: 1.25em;
    background: #f3f3f2;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.sidebarblock > :first-child {
    margin-top: 0
}

.sidebarblock > :last-child {
    margin-bottom: 0
}


.exampleblock > .content > :last-child > :last-child,
.exampleblock > .content .olist > ol > li:last-child > :last-child,
.exampleblock > .content .ulist > ul > li:last-child > :last-child,
.exampleblock > .content .qlist > ol > li:last-child > :last-child,
.sidebarblock > .content > :last-child > :last-child,
.sidebarblock > .content .olist > ol > li:last-child > :last-child,
.sidebarblock > .content .ulist > ul > li:last-child > :last-child,
.sidebarblock > .content .qlist > ol > li:last-child > :last-child {
    margin-bottom: 0
}

.literalblock pre, .listingblock > .content > pre {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    word-wrap: break-word;
    overflow-x: auto;
    padding: 1em;
}


.literalblock pre,
.listingblock > .content > pre:not(.highlight),
.listingblock > .content > pre[class="highlight"],
.listingblock > .content > pre[class^="highlight "] {
    background: #f7f7f8
}

.literalblock.output pre {
    color: #f7f7f8;
    background: rgba(0, 0, 0, .9)
}

.listingblock > .content {
    position: relative
}

.listingblock code[data-lang]::before {
    display: none;
    content: attr(data-lang);
    position: absolute;
    top: .425rem;
    right: .5rem;
    line-height: 1;
    text-transform: uppercase;
    color: inherit;
    opacity: .5
}

.listingblock:hover code[data-lang]::before {
    display: block
}

.listingblock.terminal pre .command::before {
    content: attr(data-prompt);
    padding-right: .5em;
    color: inherit;
    opacity: .5
}

.listingblock.terminal pre .command:not([data-prompt])::before {
    content: "$"
}

.listingblock pre.highlightjs {
    padding: 0
}

.listingblock pre.highlightjs > code {
    padding: 1em;
    -webkit-border-radius: 4px;
    border-radius: .5em
}

.listingblock pre.prettyprint {
    border-width: 0
}

.prettyprint {
    background: #f7f7f8
}

.quoteblock {
    margin: 0 1em 1.25em 1.5em;
    display: table
}

.quoteblock:not(.excerpt) > .title {
    margin-left: -1.5em;
    margin-bottom: .75em
}

.quoteblock blockquote {
    margin: 0;
    padding: 0;
    border: 0
}

.quoteblock blockquote > .paragraph:last-child p {
    margin-bottom: 0
}

.quoteblock .attribution {
    margin-top: .75em;
    margin-right: .5ex;
    text-align: right
}

.verseblock {
    margin: 0 1em 1.25em
}


.verseblock pre strong {
    font-weight: 400
}

.verseblock .attribution {
    margin-top: 1.25rem;
    margin-left: .5ex
}

.quoteblock .attribution, .verseblock .attribution {
    line-height: 1.5;
    font-style: italic
}

.quoteblock .attribution br, .verseblock .attribution br {
    display: none
}

.quoteblock .attribution cite, .verseblock .attribution cite {
    display: block;
    letter-spacing: -.025em;
    color: rgba(0, 0, 0, .6)
}

.quoteblock.abstract blockquote::before,
.quoteblock.excerpt blockquote::before,
.quoteblock .quoteblock blockquote::before {
    display: none
}


.quoteblock.abstract {
    margin: 0 1em 1.25em;
    display: block
}

.quoteblock.abstract > .title {
    margin: 0 0 .375em;
    font-size: 1.15em;
    text-align: center
}

.quoteblock.excerpt > blockquote, .quoteblock .quoteblock {
    padding: 0 0 .25em 1em;
    border-left: .25em solid #dddddf
}

.quoteblock.excerpt, .quoteblock .quoteblock {
    margin-left: 0
}

.quoteblock.excerpt blockquote, .quoteblock.excerpt p, .quoteblock .quoteblock blockquote, .quoteblock .quoteblock p {
    color: inherit;
    font-size: 1.0625rem
}

.quoteblock.excerpt .attribution, .quoteblock .quoteblock .attribution {
    color: inherit;
    text-align: left;
    margin-right: 0
}

table.tableblock {
    max-width: 100%;
    border-collapse: separate
}

p.tableblock:last-child {
    margin-bottom: 0
}

td.tableblock > .content > :last-child {
    margin-bottom: -1.25em
}

td.tableblock > .content > :last-child.sidebarblock {
    margin-bottom: 0
}

table.tableblock, th.tableblock, td.tableblock {
    border: 0 solid #dedede
}

table.grid-all > thead > tr > .tableblock, table.grid-all > tbody > tr > .tableblock {
    border-width: 0 1px 1px 0
}

table.grid-all > tfoot > tr > .tableblock {
    border-width: 1px 1px 0 0
}

table.grid-cols > * > tr > .tableblock {
    border-width: 0 1px 0 0
}

table.grid-rows > thead > tr > .tableblock, table.grid-rows > tbody > tr > .tableblock {
    border-width: 0 0 1px
}

table.grid-rows > tfoot > tr > .tableblock {
    border-width: 1px 0 0
}

table.grid-all > * > tr > .tableblock:last-child, table.grid-cols > * > tr > .tableblock:last-child {
    border-right-width: 0
}

table.grid-all > tbody > tr:last-child > .tableblock,
table.grid-all > thead:last-child > tr > .tableblock,
table.grid-rows > tbody > tr:last-child > .tableblock,
table.grid-rows > thead:last-child > tr > .tableblock {
    border-bottom-width: 0
}

table.frame-all {
    border-width: 1px
}

table.frame-sides {
    border-width: 0 1px
}

table.frame-topbot, table.frame-ends {
    border-width: 1px 0
}

table.stripes-all tr,
table.stripes-odd tr:nth-of-type(odd),
table.stripes-even tr:nth-of-type(even),
table.stripes-hover tr:hover {
    background: #f8f8f7
}

th.halign-left, td.halign-left {
    text-align: left
}

th.halign-right, td.halign-right {
    text-align: right
}

th.halign-center, td.halign-center {
    text-align: center
}

th.valign-top, td.valign-top {
    vertical-align: top
}

th.valign-bottom, td.valign-bottom {
    vertical-align: bottom
}

th.valign-middle, td.valign-middle {
    vertical-align: middle
}

table thead th, table tfoot th {
    font-weight: bold
}


tbody tr th, tbody tr th p, tfoot tr th, tfoot tr th p {
    color: rgba(0, 0, 0, .8);
    font-weight: bold
}

p.tableblock > code:only-child {
    background: none;
    padding: 0
}


ol {
    margin-left: 1.75em
}

ul li ol {
    margin-left: 1.5em
}

dl dd {
    margin-left: 1.125em
}

dl dd:last-child, dl dd:last-child > :last-child {
    margin-bottom: 0
}

ol > li p, ul > li p, ul dd, ol dd, .olist .olist, .ulist .ulist, .ulist .olist, .olist .ulist {
    margin-bottom: .625em
}

ul.checklist, ul.none, ol.none, ul.no-bullet, ol.no-bullet, ol.unnumbered, ul.unstyled, ol.unstyled {
    list-style-type: none
}

ul.no-bullet, ol.no-bullet, ol.unnumbered {
    margin-left: .625em
}

ul.unstyled, ol.unstyled {
    margin-left: 0
}

ul.checklist li > p:first-child > .fa-square-o:first-child,
ul.checklist li > p:first-child > .fa-check-square-o:first-child {
    width: 1.25em;
    font-size: .8em;
    position: relative;
    bottom: .125em
}

ul.checklist li > p:first-child > input[type="checkbox"]:first-child {
    margin-right: .25em
}

ul.inline {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    list-style: none;
    margin: 0 0 .625em -1.25em
}

ul.inline > li {
    margin-left: 1.25em
}

.unstyled dl dt {
    font-weight: 400;
    font-style: normal
}

ol.arabic {
    list-style-type: decimal
}

ol.decimal {
    list-style-type: decimal-leading-zero
}

ol.loweralpha {
    list-style-type: lower-alpha
}

ol.upperalpha {
    list-style-type: upper-alpha
}

ol.lowerroman {
    list-style-type: lower-roman
}

ol.upperroman {
    list-style-type: upper-roman
}

ol.lowergreek {
    list-style-type: lower-greek
}

.hdlist > table, .colist > table {
    border: 0;
    background: none
}

.hdlist > table > tbody > tr, .colist > table > tbody > tr {
    background: none
}

td.hdlist1, td.hdlist2 {
    vertical-align: top;
    padding: 0 .625em
}

td.hdlist1 {
    font-weight: bold;
    padding-bottom: 1.25em
}

.literalblock + .colist, .listingblock + .colist {
    margin-top: -.5em
}


.colist td:not([class]):first-child img {
    max-width: none
}

.colist td:not([class]):last-child {
    padding: .25em 0
}


.imageblock.left {
    margin: .25em .625em 1.25em 0
}

.imageblock.right {
    margin: .25em 0 1.25em .625em
}

.imageblock > .title {
    margin-bottom: 0
}

.imageblock.thumb, .imageblock.th {
    border-width: 6px
}

.imageblock.thumb > .title, .imageblock.th > .title {
    padding: 0 .125em
}

.image.left, .image.right {
    margin-top: .25em;
    margin-bottom: .25em;
    display: inline-block;
    line-height: 0
}

.image.left {
    margin-right: .625em
}

.image.right {
    margin-left: .625em
}

a.image {
    text-decoration: none;
    display: inline-block
}

a.image object {
    pointer-events: none
}

sup.footnote, sup.footnoteref {
    font-size: .875em;
    position: static;
    vertical-align: super
}

sup.footnote a, sup.footnoteref a {
    text-decoration: none
}

.gist .file-data > table {
    border: 0;
    background: #fff;
    width: 100%;
    margin-bottom: 0
}

.gist .file-data > table td.line-data {
    width: 99%
}

div.unbreakable {
    page-break-inside: avoid
}

.big {
    font-size: larger
}

.small {
    font-size: smaller
}

.underline {
    text-decoration: underline
}

.overline {
    text-decoration: overline
}

.line-through {
    text-decoration: line-through
}

.aqua {
    color: #00bfbf
}

.aqua-background {
    background: #00fafa
}

.black {
    color: #000
}

.black-background {
    background: #000
}

.blue {
    color: #0000bf
}

.blue-background {
    background: #0000fa
}

.fuchsia {
    color: #bf00bf
}

.fuchsia-background {
    background: #fa00fa
}

.gray {
    color: #606060
}

.gray-background {
    background: #7d7d7d
}

.green {
    color: #006000
}

.green-background {
    background: #007d00
}

.lime {
    color: #00bf00
}

.lime-background {
    background: #00fa00
}

.maroon {
    color: #600000
}

.maroon-background {
    background: #7d0000
}

.navy {
    color: #000060
}

.navy-background {
    background: #00007d
}

.olive {
    color: #606000
}

.olive-background {
    background: #7d7d00
}

.purple {
    color: #600060
}

.purple-background {
    background: #7d007d
}


.red-background {
    background: #fa0000
}

.silver {
    color: #909090
}

.silver-background {
    background: #bcbcbc
}

.teal {
    color: #006060
}

.teal-background {
    background: #007d7d
}

.white {
    color: #bfbfbf
}

.white-background {
    background: #fafafa
}

.yellow {
    color: #bfbf00
}

.yellow-background {
    background: #fafa00
}

span.icon > .fa {
    cursor: default
}

a span.icon > .fa {
    cursor: inherit
}

.admonitionblock td.icon [class^="fa icon-"] {
    font-size: 2.5em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    cursor: default
}

.admonitionblock td.icon .icon-note::before {
    content: "\f05a";
    color: #19407c
}

.admonitionblock td.icon .icon-tip::before {
    content: "\f0eb";
    text-shadow: 1px 1px 2px rgba(155, 155, 0, .8);
    color: #111
}

.admonitionblock td.icon .icon-warning::before {
    content: "\f071";
    color: #bf6900
}

.admonitionblock td.icon .icon-caution::before {
    content: "\f06d";
    color: #bf3400
}

.admonitionblock td.icon .icon-important::before {
    content: "\f06a";
    color: #bf0000
}

.conum[data-value] {
    display: inline-block;
    color: #fff !important;
    background: rgba(0, 0, 0, .8);
    -webkit-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    font-size: .75em;
    width: 1.67em;
    height: 1.67em;
    font-style: normal;
    font-weight: bold
}

.conum[data-value] * {
    color: #fff !important
}

.conum[data-value] + b {
    display: none
}

.conum[data-value]::after {
    content: attr(data-value)
}

pre .conum[data-value] {
    position: relative;
    top: -.125em
}

b.conum * {
    color: inherit !important
}

.conum:not([data-value]):empty {
    display: none
}


.exampleblock > .content {
    background: #fffef7;
    border-color: #e0e0dc;
    -webkit-box-shadow: 0 1px 4px #e0e0dc;
    box-shadow: 0 1px 4px #e0e0dc
}

.print-only {
    display: none !important
}

@page {
    margin: 1.25cm .75cm
}

@font-face {
    font-display: swap;
    font-family: 'Lora', 'Noto Serif SC', serif;
}